/**
 * Bento.UI Fuelux CSS
 *
 * @version 0.7.9
 * @date 2013-12-17
 */

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.fuelux-combobox {
  *display: inline;
}

.fuelux-combobox a {
  font-size: 14px;
}

.fuelux-combobox button {
  height: 30px;
  padding: 2px 6px 3px;
  *padding-top: 1px;
  *margin-top: 1px;
}

.fuelux-combobox input[disabled],
.fuelux-combobox input[readonly] {
  cursor: default;
  background-color: #FFF;
}

.fuelux-search .btn {
  *padding-top: 5px;
  *margin-top: 1px;
}

.fuelux-spinner input {
  float: left;
  width: 43px;
}

.fuelux-spinner .btn {
  position: relative;
  width: 20px;
  height: 14px;
  padding-top: 0;
  padding-right: 9px;
  padding-left: 9px;
}

.fuelux-spinner .btn.disabled {
  cursor: not-allowed;
}

.fuelux-spinner .fuelux-spinner-buttons {
  position: relative;
  left: -22px;
  float: left;
  width: 20px;
  height: 28px;
}

.fuelux-spinner .fuelux-spinner-up {
  top: 2px;
  padding: 0 0 4px 1px;
}

.fuelux-spinner .fuelux-spinner-up i {
  position: relative;
  top: -4px;
}

.fuelux-spinner .fuelux-spinner-down {
  top: 2px;
  height: 13px;
  padding: 0 0 4px 1px;
}

.fuelux-spinner .fuelux-spinner-down i {
  position: relative;
  top: -5px;
}

.fuelux-tree {
  position: relative;
  *padding-bottom: 4px;
  overflow-x: hidden;
  overflow-y: auto;
}

.fuelux-tree.bordered {
  padding: 10px 15px 4px 15px;
  background-color: #ffffff;
  border: 1px solid #dadada;
  border-radius: 2px;
}

.fuelux-tree .fuelux-tree-folder {
  width: 100%;
  min-height: 20px;
  margin-top: 1px;
  cursor: pointer;
}

.fuelux-tree .fuelux-tree-folder .fuelux-tree-folder-header {
  position: relative;
  height: 20px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.fuelux-tree .fuelux-tree-folder .fuelux-tree-folder-header:hover {
  color: #0083bf;
}

.fuelux-tree .fuelux-tree-folder .fuelux-tree-folder-header i {
  position: absolute;
  top: 1px;
  left: 5px;
  float: left;
}

.fuelux-tree .fuelux-tree-folder .fuelux-tree-folder-header .fuelux-tree-folder-name {
  padding-left: 29px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fuelux-tree .fuelux-tree-folder .fuelux-tree-folder-content {
  margin-left: 23px;
}

.fuelux-tree .fuelux-tree-item {
  position: relative;
  width: 100%;
  height: 20px;
  margin-top: 1px;
  cursor: pointer;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.fuelux-tree .fuelux-tree-item:hover {
  color: #0083bf;
}

.fuelux-tree .fuelux-tree-item .fuelux-tree-item-name {
  position: absolute;
  left: 29px;
  white-space: nowrap;
}

.fuelux-tree .fuelux-tree-item .fuelux-tree-dot {
  position: absolute;
  top: 8px;
  left: 10px;
  display: block;
  width: 4px;
  height: 4px;
  background-color: #333333;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.fuelux-tree .fuelux-tree-item .icon-ok {
  position: absolute;
  top: 1px;
  left: 5px;
}

.fuelux-tree .fuelux-tree-selected {
  color: #ff9100;
}

.fuelux-tree .fuelux-tree-selected:hover {
  color: #ff9100;
}
