html {  
    -webkit-font-smoothing: antialiased;
}

.knowledge-medium {
	font-family: "Knowledge-medium";
}

.knowledge-light {
	font-family: "Knowledge-light";
}

#productBar {
	height: 25px!important;
	background-color: #222 !important;
	min-height: 0px !important;
	border-bottom: 1px solid #575757;
}

	#productBar ul {
		list-style: none;
		margin: 0px;
		margin-top: 2px;

	}

	#productBar ul > li {
		display: inline;
		padding: 0px 4px 0px 4px;
		color: #666;
	}

	#productBar ul > li > a {
		color: #fff;
		font-family: "Knowledge-Medium";
		font-size: 0.9em;
	}

	#productBar ul > li > a:hover {
		text-decoration: none;
	}

.app-product {
	display: none;
}

#headerThin {
	display: none;
}

	#headerThin .navbar-inner {
		height: 20px !important;
	}

	#headerThin .brandText {
		color: #FF9100;
		/*font-family: "Knowledge-Medium"*/
		font-family: "Knowledge-Medium" !important;
		margin-top: -10px !important;
		font-size: 1.2em !important;
	}

	#headerThin .brandText small {
		padding-left: 5px;
		/*font-size: 0.6em;*/
		font-family: "Knowledge-light" !important;
		color: #eee !important;
		font-size: 0.9em !important;
	}

#headerThin .app-logo {
	width: 158.57px !important;
	height: 35px !important;
	margin-top: 7px !important;
}

.navbar-app .navbar-inner {
	height: 100px;
	background: none !important;
	/*background-color: #505050 !important;*/
	background-color: #444 !important;
	border-bottom: 1px solid #3e3e3e;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.30);
	-moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.30);
	box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.30);
}

.app-logo {
	width: 222px !important;
	height: 49px !important;
	margin-top: 20px !important;
}

.brandText {
	color: #FF9100;
	/*font-family: "Knowledge-Medium"*/
	font-family: "Knowledge-light" !important;
}

.brandText small {
	padding-left: 5px;
	/*font-size: 0.6em;*/
	font-family: "Knowledge-light" !important;
	color: #eee !important;
}

/*END EXTEND*/

.app-brand {
	/*height: 55px !important;*/
	margin-top: -5px !important;
}

.footer {
	position: relative;
	font-family: "Knowledge-Medium";
	z-index: 100;
}

.footer ul {
	list-style: none;
	margin-left: 10px;
}

.footer ul > li {
	padding: 10px 0 0px 0;
}

.view {
	margin-top: 140px !important;
}

.controls > input {
	height: 30px;
}

.well .subText {
	font-size: 1.0em;
	color: #777 !important;
}

#masthead {
	/*background: url('../img/masthead_small.png') no-repeat;*/
	background: url('../img/masthead.png') no-repeat;
	/*height: 330px;*/
	height: 380px;
	margin-bottom: -20px;
}

#masthead #buttons {
	margin-top: 170px;
	margin-right: 20px;
}

#masthead #buttons a {
	margin-bottom: 15px !important;
	float: right;
}

#masthead #buttons a#trial {
	margin-right: 30px;
}

#top-row {
	margin-top: 35px;
}

#top-row .preLoad {
	display: none;
	position: absolute;
	z-index: 1000;
	margin-top: -10px;
	margin-left: -15px;
	width: 300px;
	height: 405px;
	background-color: rgba(255, 255, 255, 0.9);
}

#top-row .preLoad .status {
	border-radius: 10px;
	text-align: center;
	margin-top: 50%;
}

#bottom-row {
	margin-top: 10px;
}

#errorText {
	display: none;
}

/*PROMO STYLES*/

div.offers {
	padding-top: 0px;
}
div.promo h2 {
	color: #FF9100;
	font-size: 1.8em;
}

div.promo .lead {
	margin-bottom: 10px;
	margin-top: 0px;
}

div.promo .horizRule {
	border-bottom: 1px solid #ccc;
	padding-top: 30px;
}

div.offers h2 {
	margin-bottom: 0;
}

div.offers .lead {
	font-size: 1.1em;
}

div.offers ul {
	padding-top: 5px;
	font-style: italic;
}


/*LOADERS AND VARIOUS STYLES*/


#loader > .well {
	padding-top: 75px !important;
	text-align: center;
	height: 300px;
}

#loader > .well h2 {
	font-family: "Knowledge-Medium";
}

.spinner {
	margin-bottom: 30px !important;
}
.check {
	width: 20%;
	display: none;
}
/*END LOADERS*/

#detailsWell,
#referenceWell,
#collectionWell {
	display: none;
}

#detailsWell h2,
#referenceWell h2,
#collectionWell h2 {
	text-transform: uppercase;
	font-family: "Knowledge-bold";
	color: #FF9100;
}

#detailsWell ul,
#referenceWell ul,
#collectionWell ul {
	list-style: none;
	margin-left: 0px;
	height: 400px;
	overflow: scroll;
}

#detailsWell ul li > a,
#referenceWell ul li > a,
#collectionWell ul li > a {
	color: #555;
	font-family: "Knowledge-Medium", "sans-sarif";
	font-size: 1.8em;
	padding: 15px 10px 15px 10px;
	display: block;
}

#detailsWell ul li a:hover,
#referenceWell ul li a:hover,
#collectionWell ul li a:hover {
	background-color: #ff9100;
	color: #FFF;
}

#detailsWell ul li > a i,
#referenceWell ul li > a i,
#collectionWell ul li > a i {
	margin-top: 0px;
	/*display: inline;*/
	display: none;
}

#detailsWell ul li > a:hover,
#referenceWell ul li > a:hover,
#collectionWell ul li > a:hover {
	text-decoration: none;
}

#detailsWell .spinner,
#referenceWell .spinner {
	text-align: center !important;
}

#detailsWell .options,
#referenceWell .options,
#collectionWell .options {
	margin-top: 10px;
}

.options .txtSearch {
	height: 30px;
	width: 50px;
	border-radius: 10px;
	font-family: "knowledge-medium"
}

#referenceWell .none-found {
	font-style: italic;
	text-align: center;
	color: #aaa;
	font-weight: normal;
	font-family: "knowledge-light";
}


/*INFO PANEL*/
#detailsWell h3 {
	color: #aaa;
	font-weight: normal;
	text-transform: uppercase;
	font-family: "Knowledge-bold";
	margin-top: 20px;
	margin-bottom: 5px;
}

#detailsWell .detail {
	font-size: 1.6em;
	font-family: "knowledge-medium";
}