.app-brand {
	height: 40px !important;
	margin: -19px -3px 0 0 !important;
}

.footer ul {
	list-style: none;
	margin-left: 10px;
}

.footer ul > li {
	padding: 10px 0 0px 0;
}

.view {
	margin-top: 65px;
}

.controls > input {
	height: 30px;
}

.well .subText {
	font-size: 1.0em;
	color: #777 !important;
}

#masthead {
	/*background: url('../img/masthead_small.png') no-repeat;*/
	background: url('../img/masthead.png') no-repeat;
	/*height: 330px;*/
	height: 380px;
	margin-bottom: -20px;
}

#masthead #buttons {
	margin-top: 170px;
	margin-right: 20px;
}

#masthead #buttons a {
	margin-bottom: 15px !important;
	float: right;
}

#masthead #buttons a#trial {
	margin-right: 30px;
}

#top-row {
	margin-top: 35px;
}

#top-row .preLoad {
	display: none;
	position: absolute;
	z-index: 1000;
	margin-top: -10px;
	margin-left: -15px;
	width: 300px;
	height: 405px;
	background-color: rgba(255, 255, 255, 0.9);
}

#top-row .preLoad .status {
	border-radius: 10px;
	text-align: center;
	margin-top: 50%;
}

#bottom-row {
	margin-top: 10px;
}

#errorText {
	display: none;
}

/*PROMO STYLES*/

div.offers {
	padding-top: 0px;
}
div.promo h2 {
	color: #FF9100;
	font-size: 1.8em;
}

div.promo .lead {
	margin-bottom: 10px;
	margin-top: 0px;
}

div.promo .horizRule {
	border-bottom: 1px solid #ccc;
	padding-top: 30px;
}

div.offers h2 {
	margin-bottom: 0;
}

div.offers .lead {
	font-size: 1.1em;
}

div.offers ul {
	padding-top: 5px;
	font-style: italic;
}