<h1>Sync 1</h1>


<p>
    The following pseudo-code expresses the steps that would be performed by a client in order to synchronize with the service.
</p>





<div class="toggle" ng-init="serv = false">
    <p class="toggle__button" ng-click="serv = !serv" ng-class="serv ? 'toggle--open' : ''">
        Service variables
    </p>
    <ul class="standard-list" ng-show="serv">
        <li>
            <span class="courier">updateCount</span> – the highest USN given out within the account
        </li>
        <li>
            <span class="courier">recoverySyncBefore</span> – the cut-off date for caching clients to perform a
            recovery sync process. This value may correspond to a time of a serious server issue that would invalidate client data.
        </li>
        <li>
            <span class="courier">fullSyncBefore</span> – the cut-off date for old caching clients to perform a full synchronization. This value may correspond to the point where historic data (e.g. regarding expunged objects) was wiped from the account on the service.
        </li>
    </ul>
</div>

<div class="toggle" ng-init="client = false">
    <p class="toggle__button" ng-click="client = !client" ng-class="client ? 'toggle--open' : ''">
        Client variables
    </p>
    <ul class="standard-list" ng-show="client">
        <li>
            <span class="courier">lastUpdateCount</span> – the server’s updateCount at the last sync
        </li>
        <li>
            <span class="courier">lastSyncTime</span> – the time of the last sync (as given by the service)
        </li>
    </ul>
</div>

<sync-auth></sync-auth>

<sync-status></sync-status>

<initial-sync></initial-sync>

<full-sync></full-sync>

<recovery-sync></recovery-sync>

<incremental-sync></incremental-sync>

<send-changes></send-changes>
