@media only screen and (max-width: 1200px)
{
    html
    {
        font-size: 13px;
    }
}

@media only screen and (max-width: 992px) /* Mobile */
{
    html
    {
        font-size: 12px;
    }
    .api-panel__container {
        width: 50%;
        margin: 0 auto;
        background: transparent;
        padding: 0;
    }
}
