/**
 * CONTENTS
 *
 * NOTE: All section headings begin with a '#' to facilitate searching this file
 *
 * BASE - Site-wide styles
 * High-level...........html, body styles.
 * Headings.............header, h1–h3 styles.
 * Text.................p, a, strong, li, etc.
 * Form elements........label, input, and other form tags.
 *
 * OBJECTS - Reusable elements
 * Container............Wrap around contained elements.
 * Nav..................Used for all site navigation.
 * Panel................Container for togglable elements.
 * Toggle...............Hide and show text.
 * Search...............Search bar.
 * Standard list........Styled as a traditional list.
 *
 * COMPONENTS - Reusable views
 * Page header............The main page header.
 * API panel..............Button-controlled panel.
 * Results panel..........Search input-controlled panel.
 * Sidebar................Container for side content.
 * Browser................Uses sidebar to navigate and display content.
 * Page footer............The main page footer.
 *
 * VIEWS - Independent HTML pages
 * Homepage...............Site homepage.
 *
 * OVERRIDES - Bootstrap overrides
 * Nav....................Removes left padding from main header.
 * Form control...........Adjusts form control highlight color.
 * Button.................Adjusts button highlight color.
 *
 * HELPERS - Reusable CSS trumps
 * Colors................Color helpers.
 *
 **/





/*------------------------------------*\
 *------------------------------------*
    #BASE
 *------------------------------------*
\*------------------------------------*/

html {
    font-size: 16px;
}


body {
    background: #BABABA url('../images/body-bg.jpg') repeat-x;
}


header {
    clear: both;
}

h1 {
    font: 3rem 'knowledgeBold', Arial, Helvetica, sans-serif;
    line-height: 1.48em;
}

h2 {
    font: 2.5rem 'knowledgeLight', Arial, Helvetica, sans-serif;
    line-height: 1.48em;
}

h3 {
    font: 1.2rem 'knowledgeBold', Arial, Helvetica, sans-serif;
    line-height: 1.48;
}


p {
    font: 1rem Arial, Helvetica, sans-serif;

    line-height: 1.48em;

    margin-bottom: 1.1rem;
}


a, a:focus, a:hover {
    text-decoration: none;
}


strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

ol ol {
    list-style-type: lower-alpha;
}

li {
    line-height: 1.48em;
}


label {
    font: 1.1rem 'knowledgeRegular';

    text-transform: capitalize;
}

input, select {
    font-family: 'knowledge';
}





/*------------------------------------*\
 *------------------------------------*
    #OBJECTS
 *------------------------------------*
\*------------------------------------*/

/*------------------------------------*\
    #CONTAINER
\*------------------------------------*/

.container--padded {
    padding: 3em;
}


.container--small {
    border-radius: 1em;
    padding: 2em;
}





/*------------------------------------*\
    #INPUT WRAPPER
\*------------------------------------*/
.input-wrapper {
    position: relative;
}

    .input-wrapper > label {
        color: #949494;
        position: absolute;
        left: 0;
        top: 0;
        padding: 7px 14px;
        line-height: 1.48em;
        cursor: text;
        -webkit-user-select: none;
         -khtml-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;

        -webkit-transition: color 0.2s;
           -moz-transition: color 0.2s;
                transition: color 0.2s;
    }

        .input-wrapper input:focus + label {
            color: #D2D2D2;
        }





/*------------------------------------*\
    #NAV
\*------------------------------------*/

.nav {
    list-style: none;
    margin-left: 0;
}

    .nav > li,
        .nav > li > a {
            display: inline-block;
           *display: inline; /* IE7 hack */
    }

        .nav a {
            text-transform: capitalize;
        }


.nav--vertical {

}

    .nav--vertical li {
        display: block;
    }





/* -----------------------------------*/
/* #PANEL
/* -----------------------------------*/
.panel {
    position: relative;

    overflow: hidden;

    max-height: 0;

    -webkit-transition: max-height 0.5s;
	   -moz-transition: max-height 0.5s;
            transition: max-height 0.5s;
}

    .panel.active {
        max-height: 500px;  /* This must be higher than the height
                               of the panel's contents */
    }





/*------------------------------------*\
    #SEARCH
\*------------------------------------*/
.search {
    width: 25em;
}

    .search__input:hover + .search__label {
        color: #D2D2D2;
    }





/*------------------------------------*\
    #STANDARD LIST
\*------------------------------------*/

.standard-list {
    padding-left: 3em;
    margin-bottom: 1.1em;
    font-family: Arial;
}





/* -----------------------------------*/
/* #TOGGLE
/* -----------------------------------*/

.toggle {
    display: block;
}

    .toggle__button {
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
    }

        .toggle__button::after {
            content: '▼';
            font-size: 0.8em;
        }

        .toggle--open::after {
            content: '▲';
        }





/*------------------------------------*\
 *------------------------------------*
    #COMPONENTS
 *------------------------------------*
\*------------------------------------*/

/*------------------------------------*\
    #HEADER
\*------------------------------------*/

header[role='banner'] {
    position: relative;

    width: 100%;

    border-bottom: 2px solid #FF8000;
}

    .header__alpha {
        padding: 20px 0;
    }

        .logo__alpha {
            font: 1.2em 'knowledgeMedium';
            display: inline-block;
        }

        .logo__beta {
            font: 2.5em 'knowledgeMedium';

            text-transform: uppercase;
            display: inline-block;
        }

            .logo__developer {
                font-family: 'knowledge-light';
            }

        .header__search {
            margin-top: 15px;
        }

    .header__beta {
        overflow: hidden;

        height: 45px;

        border-top: 1px solid rgb(221, 221, 221);
    }

        .header__nav > li, .header_nav > li:hover {
            border-bottom: 4px #FF8000 solid;
        }

            .header__nav a {
                font: 24px 'knowledgeLight' bold; /* Uses pixels so it won't scale */

                display: block;

                padding: 9px .4em 9px;

                transition: padding 0.2s;

                color: currentColor;
            }

                .header__nav a:hover {
                    padding: 9px .4em 4px;

                    transition: padding 0.2s;
                }

                .header__nav .active {
                    padding: 9px .4em 4px;

                    color: #FF8000;
                }

        .header__key-btn {
            font-family: 'knowledge';
            margin: 5px 0;
            background: #FF8000;
        }

            .header__key-btn:hover, .header__key-btn.active {
                color: white;
                background: #E77707;
            }





/*------------------------------------*\
    #API PANEL
\*------------------------------------*/

.api-panel {
    background: #FF8000;
}

    .api-panel__container {
        background: rgba(0, 0, 0, 0.1);
    }
        .api-panel__header {
            text-align: center;
        }

        .api-panel__form {
            margin-top: 20px;
        }

            .api-panel__input {
                margin-bottom: 15px;
            }

            .api-panel__terms {
                margin: 20px 0;
            }

                .api-panel__terms-check {
                    width: 25px;
                }

                .api-panel__terms-text {
                    font: 1rem 'knowledge';
                }

                .api-panel__terms-link {
                    text-decoration: underline;
                }

                    .api-panel__terms-link:hover {
                        text-decoration: underline;

                        color: black;
                    }

            .api-panel__submit {
                font: 1rem 'knowledgeMedium';

                text-transform: uppercase;

                border: none;
                background: rgba(0, 0, 0, 0.2);
            }

                .api-panel__submit:hover {
                    background: rgba(0, 0, 0, 0.4);
                }
    .loader {
        display: none;

        height: 100%;

        text-align: center;
    }

    .api-panel__confirm {
        font: 3em 'knowledgeMedium';

        width: 200px;
        height: 13%;
        margin: auto;
        padding: 5em 0;

        text-align: center;
    }





/*------------------------------------*\
    #RESULTS PANEL
\*------------------------------------*/

.search-results {
    background: #FF8000;
}





/*------------------------------------*\
    #SIDEBAR
\*------------------------------------*/

.sidebar {

    background: #FF8000;
}

    .sidebar__nav {
        text-align: right;
    }

        .sidebar__nav > li {
            font: 2em 'knowledge';
            line-height: 1.48em;
        }

        .sidebar__nav ul li {
            font-size: .8em;
            line-height: 1.2em;
        }

            .sidebar__nav a {
                color: white;
            }

                .sidebar__nav a:hover {

                }

                .sidebar__nav .active {
                    color: black;
                }





/*------------------------------------*\
    #BROWSER
\*------------------------------------*/

.browser {
    background: #FF8000;
}

    .browser__view {
        background: white;
    }





/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

footer[role='contentinfo'] {
    font: 0.9em 'knowledgeLight', Arial, Helvetica, sans-serif;

    display: block;
    overflow: auto;

    width: 100%;
    padding: 4em;
}

    .footer a {
        color: currentColor;
    }

        .footer__alpha a:hover, .footer__legal a:hover {
            text-decoration: underline;
        }

    .footer__beta {
        margin-top: 20px;
    }

        .footer__logo {
            font: 1.3em 'knowledgeMedium';
        }

        .footer__legal {
            font-size: 0.9em;
        }

            .footer__legal > li {
                margin-left: 15px;
            }





/*------------------------------------*\
    #HOMEPAGE
\*------------------------------------*/

.intro {
    background: url('../images/chalk.jpg');

    -webkit-font-smoothing: antialiased;
}

    .intro__h1 {
        font-family: 'secondChanceSketch';
    }

    .intro__api-cta {
        position: relative;
        top: -2.5em;
    }

        .intro__api-label {
            font: 1.5em 'milkTea';

            position: relative;
            top: 1.7em;
            right: 0.5em;
        }

        .intro__api-arrow {
            width: 5em;
        }

    .intro__h2 {
        font-family: 'milkTea';
        font-weight: normal;

        margin: 0 1em;
    }

        .intro__count {
            font-family: 'secondChanceSketch';
        }

    .intro__steps {
        font-family: 'milkTea';

        margin: 0;
        padding-left: 5em;
    }

        .intro__step {
            font-size: 2rem;

            display: inline-block;

            margin-bottom: 0.2em;

            cursor: pointer;
        }

            .intro__step-num {
                font-family: 'secondChanceSketch';
            }

            .intro__cta {
                position: relative;
                top: 0;

                transition: top, 0.3s;
                text-decoration: none;
            }

                .intro__step:hover .intro__cta {
                    top: -10px;

                    transition: top, 0.3s;
                }

.details {
    background: white;
}

    .details__step:before {
        position: relative;
        left: 50%;

        display: block;

        width: 80px;
        height: 100px;
        margin-left: -40px;

        content: '';

        background: url('../images/endnote-sprite-600x170v2.png') no-repeat;
        background-repeat: no-repeat;
    }

    .details__discover:before {
        background-position: -250px 0;
    }

    .details__register:before {
        background-position: -330px 0;
    }

    .details__create:before {
        background-position: -410px 0;
    }

        .details__h2 {
            text-align: center;
            margin: 0 0 10px;
        }

        .details__link, .details__link:hover {
            font: 1.1em 'knowledgeMedium';

            color: currentColor;
        }

            .details__arrow {
                position: relative;
                left: 0;

                transition: left 0.3s;
            }

                .details__link:hover .details__arrow {
                    left: 10px;

                    transition: left 0.3s;
                }





/*------------------------------------*\
 *------------------------------------*
    #OVERRIDES
 *------------------------------------*
\*------------------------------------*/

nav[role="navigation"], .header__search {
    padding-left: 0; /* Removes Bootstrap column padding from header elements */
}

.form-control:focus {
    border: 1px solid #ccc;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn:active, .btn.active, .btn:active:focus, .btn.active.focus,
.btn.active:focus, .btn:active.focus  {
    outline: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.2);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.2);
}

.btn:focus, .btn.focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}





/*------------------------------------*\
 *------------------------------------*
    #HELPER CLASSES
 *------------------------------------*
\*------------------------------------*/

.highlight-color {
    color: #ff8000 !important; /* Orange */
}

.primary-color {
    color: #666 !important; /* Gray */
}

.secondary-color {
    color: white !important;
}

.courier {
    font-family: courier !important;
}
