<div class="intro">
    <div class="container container--side-padded">
      <header>
        <h1 class="intro__h1 u-color--highlight pull-left">EndNote Development 101</h1>
        <div class="intro__api-cta pull-right">
          <span class="intro__api-label u-color--secondary pull-left">Get an API Key</span><img class="intro__api-arrow" src="assets/images/arrow.png" />
        </div>
      </header>

      <section>
        <header>
          <h2 class="intro__h2 u-color--secondary">Becoming an EndNote developer is as easy as <span class="intro__count">1-2-3.</span></h2>
        </header>

        <ul class="intro__steps u-color--secondary">
          <li class="intro__step"><span class="intro__step-num">1.</span>&nbsp;<span class="intro__cta">Discover</span> how to leverage the EndNote API</li>
          <li class="intro__step"><span class="intro__step-num">2.</span>&nbsp;<span class="intro__cta">Register</span> your application with the developer center</li>
          <li class="intro__step"><span class="intro__step-num">3.</span>&nbsp;<span class="intro__cta">Create</span> applications with the most popular citation engine</li>
        </ul>
      </section>
    </div>
</div>
<div class="details">
    <div class="container container--side-padded u-color--primary">
      <div class="grid grid--gutters">
        <div class="details__step details__discover grid__cell">
          <h2 class="details__h2">Discover</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="#" class="details__link">Discover the EndNote API <span class="details__arrow">»<span></a>
        </div>
        <div class="details__step details__register grid__cell">
          <h2 class="details__h2">Register</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="#" class="details__link">Register your application <span class="details__arrow">»<span></a>
        </div>
        <div class="details__step details__create grid__cell">
          <h2 class="details__h2">Create</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="#" class="details__link">More EndNote creations <span class="details__arrow">»<span></a>
        </div>
      </div>
    </div>
</div>
