/*LIST PANEL*/
.ListPanel {
	background: rgba(255,255,255,0.1);
	margin-top: 30px;
	margin-bottom: 30px;
	/*height: 300px;*/
	border-radius: 0 0 5px 5px;
	box-shadow: 0 2px 5px 1px rgba(0,0,0,0.6);
}

.ListPanel ul {
	list-style: none;
	color: #fff;
	font-family: "Knowledge-medium";
	margin: 0px;
}

.ListPanel ul > li a {
	font-size: 1.35em;
	color: #fff;
	display: block;
	padding: 10px;
/*	border-bottom: 1px solid #333;
	border-top: 1px solid #555;*/
}

.ListPanel ul > li a:hover {
	-webkit-transition: color 100ms linear;
    -moz-transition: color 100ms linear;
    -o-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
	text-decoration: none;
	color: #ff9100;
}

.ListPanel .title {
	background: #ff9100;
	display: block;
	color: #fff;
	font-size: 2em;
	padding: 15px;
	font-family: "Knowledge-medium";
	text-transform: uppercase;	
}

/*SPLASH LIST*/
.splashList {
	list-style: none;
	margin: 0;
	/*margin-top: 30px;*/
	background: rgba(255,255,255,0.2);
	border-radius: 0 0 5px 5px;
	box-shadow: 0 2px 5px 1px rgba(0,0,0,0.6);

}

.splashDiv .title {
	margin-top: 30px;
	background: #ff9100;
	display: block;
	color: #fff;
	font-size: 2em;
	padding: 15px;
	font-family: "Knowledge-medium";
	text-transform: uppercase;	
}

.splashList li a  {
	/*background: rgba(255, 145, 0, 0.1);*/
	padding: 30px;
	display: block;
}

.splashList li a:hover {
	text-decoration: none;
}

.splashList li {
	border-bottom: 1px solid #333;
	border-top: 1px solid #555;
}

.splashList li:hover {
	background: rgba(255, 145, 0, 1);
 	-webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

.splashList img.step1 {
	width: 72px;
}

.splashList img.step3 {
	width: 60px;
	margin-left: 6px;
	padding-right: 5px;
}

.splashTitle {
	position: absolute;
	color: #fff;
	margin-top: 25px;
	font-size: 2.6em;
	/*text-transform: uppercase;*/
	font-family: "Knowledge-medium";
}

.splashTitle small {
	font-size: 0.9em;
	color: #fff;
	text-transform: none;
	font-family: "Knowledge-light";
}

a:hover .splashTitle {
	color: #fff !important;
		-webkit-transition: color 300ms linear;
    -moz-transition: color 100ms linear;
    -o-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
}