<div class="toggle" ng-init="incSync = false">
    <p class="toggle__button" ng-click="incSync = !incSync" ng-class="incSync ? 'toggle--open' : ''">
        Incremental Sync
    </p>

    <p class="toggle__list" ng-show="incSync">
        <em>General Algorithm:</em>
    </p>

    <ol class="standard-list toggle__list" ng-show="incSync">
        <li>
            Create a local list of GroupSet items via <span class="courier">ReferenceStore.getFilteredSyncChunk(afterUSN=0,maxEntries,filter)</span>.
        </li>
        <li>
            Process the list of GroupSet items in order. Add each item to the client DB unless it’s identified as being expunged.
        </li>
        <li>
            Create a local list of Group items via <span class="courier">ReferenceStore.getFilteredSyncChunk(afterUSN=0 ,maxEntries,filter)</span>.
        </li>
        <li>
            Process the list of Group items in order. Add each item to the client DB unless it’s identified as being expunged.
        </li>
        <li>
            Create a local list of Reference items via <span class="courier">ReferenceStore.getFilteredSyncChunk(afterUSN=0,maxEntries,filter)</span>.
        </li>
        <li>
            Process the list of Reference items in order. Add each item to the client DB unless it’s identified as being expunged.
        </li>
        <li>
            Store the server’s updateCount(from <span class="courier">getSyncState</span>) to lastUpdateCount and the server’s current time(from <span class="courier">getSyncState</span>) to lastSyncTime.
        </li>
        <li>
            Go to Send Changes.
        </li>
    </ol>

    <p class="toggle__list" ng-show="incSync">
        <em>Specifics:</em>
    </p>

    <ol class="standard-list toggle__list" ng-show="incSync">
        <li>
            <span class="courier">ReferenceStore.getFilteredSyncChunk(afterUSN=0,maxEntr ies,filter)</span> will return the metadata for at most maxEntries objects (of any type), starting from the least-recently-modified object in the account. This includes the full state of “small” objects like Groups, but only includes the metadata for References (unless option to include all reference content is set), FileResources and FigureResources. Binary resource content must be requested separately, later. Expunged (deleted permanently) objects are included by (GUID) only.
        </li>
        <li>
            Call <span class="courier">ReferenceStore.getFilteredSyncChunk(afterUSN=0,maxEntr ies,filter)</span> to get the first block of data objects from the service. If chunk’s chunkHighUSN is less than chunk’s updateCount, buffer the chunk and request the next chunk by calling <span class="courier">ReferenceStore.getFilteredSyncChunk</span> with afterUSN = chunkHighUSN. (This can be done safely in spite of a time gap between chunks).
        </li>
        <li>
            The binary content of resources will not be transmitted as part of the sync block. The biblio content of References is not transmitted by default and can be requested via the sync chunk filter or separately via ReferenceStore.getReference(...).
            <ol class="standard-list">
                <li>
                    The service will always return metadata with Reference chunks. This includes group membership information, favorites rating, read status, reference timestamps, Figure and File metadata, etc.
                </li>
                <li>
                    Reference biblio data should always be pulled regardless of the biblioContentUpdated flag in the reference structure in the sync chunk that indicates whether or not the content should be retrieved via <span class="courier">getReference</span>. This is because this is “initial” sync and therefore the data is needed.
                </li>
                <li>
                    The client should retrieve all Figure and File structures using appropriate API to retrieve the data from the service.
                </li>
                <li>
                    Expunged group sets, groups, references, figures and files should be ignored.
                </li>
            </ol>
        </li>
    </ol>
</div>



General Algorithm:
1. Create a local list of GroupSet items via
     ReferenceStore.getFilteredSyncChunk(afterUSN=0,maxEntr
ies,filter)
2. Process the list of GroupSet items in order to construct the current state of the service.
3. Create a local list of Group items via
     ReferenceStore.getFilteredSyncChunk(afterUSN=lastUpdat
     eCount,maxEntries, filter)
4. Process the list of Group items in order to add/update items from the server to the client.
5. Create a local list of Reference items via
     ReferenceStore.getFilteredSyncChunk(afterUSN=lastUpdat
     eCount,maxEntries,filter)
6. Process the list of Reference items in order to add/update items from the server to the client.
7. Store the server’s updateCount(from getSyncState) to lastUpdateCount and the server’s current time(from getSyncState) to lastSyncTime.
8. Continue to Send Changes.
Specifics:
a. If an item exists in the server’s list, but not in the client, add to the client DB.
b. If an item exists in both the client and the server:
i. If they have the same USN and no “dirty” flag, then they’re in sync.
ii. If they have the same USN, but the client’s item has a “dirty” flag, then it should be uploaded to the server later.
iii. If the server’s item has a higher USN and the client has no “dirty” flag, then update the state of the client’s item with the server’s object.
iv. If the server’s item has a higher USN and the client has a “dirty” flag, then the object has been modified on both the server and the client. If possible, compare the server relative timestamps and favor the latest timestamp; otherwise, report the conflict for resolution.
c. Ifa GroupSet is deleted from the client, all of its Groups are deleted (unless it's the last GroupSet which cannot be deleted).
d. If a Group is deleted from the client, all of its References are only removed from the group membership and remain in the library and associated to any other groups it already belongs to. This means when UI deletes a group, it needs to manage group membership on it’s system and flag all affected References as dirty with respect to their metadata(which includes group membership).
e. The binary content of resources will not be transmitted as part of the sync block. The biblio content of References is not transmitted by default and
21
can be requested via the sync chunk filter or separately via ReferenceStore.getReference(...).
i. The service will always return metadata with Reference chunks. This includes changes to group membership, favorites rating, read status, timestamps, Figures and Files, etc.
ii. If the reference data was changed(tracked via separate USN on the server), then a flag in the reference structure in the sync chunk will indicate the content should be retrieved via getReference if it was not retrieved as part of the sync chunk.
iii. The client should inspect all Figure and File structures. If the service returned an item in these lists that is not on the client(as determined by GUID(and not already flagged for expungement on the client),), then add this item to the client using appropriate API to retrieve the data from the service.
iv. The client should also use the checksum and file length to compare all Figure and File objects with what is on the client. If any of these are different, then update the client object with the server data. Keep in mind, you won’t get to this point if any of the figure, files, biblio or meta data has also changed on the client because this will have been flagged as a conflict.
v. This entire item could potentially even be easier, but more expensive if instead the client just wants to pull all the figure and file objects when a reference has changed.
vi. When References are expunged, their Figure and File Resources are also expunged.
f. For
resource from the client, if present.
each expunged Figure and File Resource, remove the corresponding
g. For each expunged Reference, remove the corresponding Reference from the client, if present.
h. Deleted References are references that are placed into the Trash.
i. Expunging a GroupSet implies permanent removal of the group set and
all of its groups.
j. Expunging a Group implies permanent removal of the group and
disassociating references from those groups. This means references(and their resources) remain in the library.
22
