<div class="toggle" ng-init="sendChanges = false">
    <p class="toggle__button" ng-click="sendChanges = !sendChanges" ng-class="sendChanges ? 'toggle--open' : ''">
        Send Changes
    </p>

    <p class="toggle__list" ng-show="sendChanges">
        <em>General Algorithm:</em>
    </p>

    <ol class="standard-list toggle__list" ng-show="sendChanges">
        <li>
            Send expunged attachments and figures via <span class="courier">ReferenceStore.expungeResource(...)</span>.
        </li>
        <li>
            Send expunged references via <span class="courier">ReferenceStore.expungeResource(...)</span>.
        </li>
        <li>
            Send expunged groups via <span class="courier">ReferenceStore.expungeGroup(...)</span>.
        </li>
        <li>
            Send new groups via <span class="courier">ReferenceStore.createGroup(...)</span>.
        </li>
        <li>
            Send modified groups via <span class="courier">ReferenceStore.updateGroup(...)</span>
        </li>
        <li>
            Send expunged groups via <span class="courier">ReferenceStore.expungeGroupSet(...)</span>.
        </li>
        <li>
            Send new groups via Send expunged groups via <span class="courier">ReferenceStore.createGroupSet(...)</span>.
        </li>
        <li>
            Send modified groups via <span class="courier">ReferenceStore.updateGroupSet(...)</span>.
        </li>
        <li>
            Send new references via <span class="courier">ReferenceStore.createReference(...)</span>.
        </li>
        <li>
            Send modified references via <span class="courier">ReferenceStore.updateReference(...)</span>.
        </li>
        <li>
            Send modified figures via <span class="courier">ReferenceStore.updateFigureResource(...)</span>.
        </li>
        <li>
            Send modified attachments via <span class="courier">ReferenceStore.updateFileResource(...)</span>.
        </li>
    </ol>

    <p class="toggle__list" ng-show="sendChanges">
        <em>Specifics:</em>
    </p>

    <ol class="standard-list toggle__list" ng-show="sendChanges">
        <li>
            An item is new if no GUID has been assigned to it.
        </li>
        <li>
            An item is modified if it has a GUID and its dirty flag is set.
        </li>
        <li>
            The client is required to transmit the full data (Reference contents, resource data, recognition data) for each Reference sent using <span class="courier">ReferenceStore.createReference(...)</span>, and is required to transmit such data if modified as part of any call to <span class="courier">ReferenceStore.updateReference(...)</span>. I.e. the Reference must be uploaded as one message ... its parts may not be transmitted later.
        </li>
    </ol>
</div>
