<script>
// $('body').blurjs({
// 		source: 'body',
// 		radius: 15,
// 		overlay: 'rgba(0,0,0,0.5)'
// 	});
</script>

<style>
body {
	background: url('img/bird_blur.jpg') no-repeat center center fixed; 
	background-size: cover;
}
</style>

<div class="view-margin">
	<h1 class="page-title">API Reference<span class="pull-right">1.0</span></h1>

	<div id="sideNav">
		<ul>
			<li class="heading">Getting Started</li>
			<li><a href="#"><span class="label label-important">Article</span>Introduction</a></li>
			<li><a href="#"><span class="label label-important">Article</span>Guidelines</a></li>
			<li><a href="#">Manage Your Keys</a></li>
			<li><a href="#">Sandbox</a></li>
			<li><a href="#"><span class="label label-important">Article</span>Hello World</a></li>

			<li class="heading">Authentication</li>
			<li><a href="#"><span class="label label-important">Article</span>Introduction</a></li>
			<li><a href="#">AuthenticateByDeviceToken</a></li>
			<li><a href="#">GetDeviceCode</a></li>
			<li><a href="#">GetDeviceToken</a></li>

			<li class="heading">References</li>
			<li><a href="#"><span class="label label-important">Article</span>Introduction</a></li>
			<li><a href="#">CreateGroup</a></li>
			<li><a href="#">GetGroup</a></li>
			<li><a href="#">ListGroups</a></li>
			<li><a href="#">ListGroupSet</a></li>
			<li><a href="#">CreateReference</a></li>
			<li><a href="#">GetReference</a></li>
			<li><a href="#">GetReferences</a></li>
			<li class="heading">Formatting</li>
			<li><a href="#">FormatManuscript</a></li>
			<li><a href="#">FormatReference</a></li>
		</ul>
	</div>

	<div id="mainContent">
<!-- 		<ng-include src="'partials/test.html'"></ng-include> -->
	</div>
</div>