<script>
// $('body').blurjs({
// 		source: 'body',
// 		radius: 100,
// 		overlay: 'rgba(0,0,0,0.5)'
// 	});
</script>

<style>
body {
	background: url('img/mega_blur.jpg') no-repeat center center fixed; 
	background-size: cover;
}
</style>

<div class="splash-title">
	<h1 class="page-title tall">Introduce knowledge to your Applications</h1>
</div>

<div class="splash-sub">
	<div class="container">
	<span class="impact-text span12">Become an EndNote Developer and connect your users to the world's most popular citation engine for <span class="orange">FREE.</span>
	</div>
</div>

<div class="span4">
	<div class="ListPanel">
		<span class="title">Tech Blog</span>
		<ul>
			<li><a href="#">Bug Fixes<span class="pull-right"><small>6/17/2014</small></span></a></li>
			<li><a href="#">New Features!<span class="pull-right"><small>6/15/2014</small></span></a></li>
			<li><a href="#">API Initial Release<span class="pull-right"><small>6/14/2014</small></span></a></li>
		</ul>
	</div>

	<div class="ListPanel">
	<span class="title">FAQ</span>
	<ul>
		<li><a href="#">How do I get an API key?</a></li>
		<li><a href="#">How do I authenticate a user?</span></a></li>
		<li><a href="#">What are the API call limits?</span></a></li>
		<li><a href="#">How do I request a boost in call limits?</a></li>
	</ul>
</div>
</div>

<div class="span12 splashDiv">
<span class="title">Getting Started</span>
<ul class="splashList">
	<li>
		<a ng-href="#/reference">
			<img class="step1" src="img/step1.png" />
			<span class="splashTitle orange">Find&nbsp;<small>out what it means to be an EndNote Developer.</small></span>
		</a>
	</li>
	<li>
		<a href="#">
			<img class="step1" src="img/step2.png" />
			<span class="splashTitle orange">Discover&nbsp;<small>how to implement EndNote with your application.</small></span>
		</a>
	</li>
	<li>
		<a href="#">
			<img class="step3" src="img/step3.png" />
			<span class="splashTitle orange">Create&nbsp;<small>an application sure to dazzle your users.</small></span>
		</a>
	</li>
</ul>
</div>

<div class="span4">
	<div class="ListPanel">
		<span class="title">Resources</span>
		<ul>
			<li><a ng-href="#/reference">API Reference</span></a></li>
			<li><a href="#">Community Forum</a></li>
			<li><a href="#">EndNote Facebook</a></li>
			<li><a href="#">Technical Support</a></li>
		</ul>
	</div>

	<div class="ListPanel">
		<span class="title">API Status</span>
		<ul>
			<li><a href="#">Citation API<span class="pull-right"><small class="green">UP</small></span></a></li>
			<li><a href="#">Formatter API<span class="pull-right"><small class="green">UP</small></span></a></li>
			<li><a href="#">Authentication API<span class="pull-right"><small class="yellow">PERF. ISSUES</small></span></a></li>
			<li><a href="#">ManuscriptMatcher API<span class="pull-right"><small class="green">UP</small></span></a></li>
		</ul>
	</div>
</div>

<!-- FOOTER -->
<div class="footer">
  <div class="container-fluid">
    <div class="offset4 span3">
    	<h3>Languages</h3>
    	<ul>
   			<li><a href="#">简体中文</a></li>
   			<li><a href="#">繁体中文</a></li>
   			<li><a href="#">German</a></li>
        <li><a href="#">日本語</a></li>
        <li><a href="#">한국어</a></li>
   			<li><a href="#">Português</a></li>
        <li><a href="#">Español</a></li>
    	</ul>
    </div>

    <div class="span3">
    	<h3>Products</h3>
    	<ul>
   			<li><a href="#">EndNote&reg;</a></li>
   			<li><a href="#">InCites&trade;</a></li>
   			<li><a href="#">ScholarOne</a></li>
   			<li><a href="#">Web of Science&trade;</a></li>
    	</ul>
    </div>
    <div class="span3">
    	<h3>Training</h3>
    	<ul>
   			<li><a href="#">Tutorials Library</a></li>
        <li><a href="#">Online User Manual</a></li>
   			<li><a href="#">Live Training Calendar</a></li>
   			<li><a href="#">Trainer Resources</a></li>
    	</ul>
    </div>
        <div class="span3">
      <h3>Support</h3>
      <ul>
        <li><a href="#">Contact Support Team</a></li>
        <li><a href="#">Knowledgebase</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">User Forum</a></li>
        <li><a href="#">International Support</a></li>
        <li><a href="#">Live Chat</a></li>
      </ul>
    </div>
<!--      <div class="row">
	<img class="logo" src="img/tr_logo.png" />
</div> -->
  </div>
</div>	